opencv-contrib-python
mediapipe
numpy<2
pyautogui
screeninfo
faster-whisper
sounddevice

# Windows-only
pywin32; sys_platform == "win32"

# macOS-only
pyobjc-framework-Quartz; sys_platform == "darwin"
pyobjc-framework-AppKit; sys_platform == "darwin"
